<cll-page-container [title]="'createAsyncState'" customClass="space-y-9">
  <section class="space-y-6">
    <p>
      When building a user list interface, traditional approaches often involve defining separate variables for loading
      states, errors, and data, then managing these within API subscription methods. As applications grow and require
      multiple API requests, managing multiple loading and error variables becomes increasingly complex, leading to
      scattered state management throughout components and making maintenance difficult.
    </p>

    <p>
      The <code>createAsyncState</code> operator is an RxJS operator designed to simplify asynchronous operation
      handling. It encapsulates API responses within a standardized structure, streamlining the process of subscribing
      to observables. This approach enables seamless data integration into HTML components while maintaining a more
      organized and maintainable codebase.
    </p>

    <p>
      This operator transforms an observable of type <code>T</code> into an observable of
      <code>AsyncState&lt;T&gt;</code>. The <code>AsyncState</code> object encapsulates the following key states:
    </p>

    <ul>
      <li><code>loading</code>: Indicates that the asynchronous operation is in progress.</li>
      <li><code>error</code>: Represents any encountered errors during the operation.</li>
      <li><code>data</code>: Holds the successful result of the operation.</li>
    </ul>

    <app-code-block [code]="asyncStateCode" />

    <p>
      The <code>createAsyncState</code> operator accepts two optional parameters. The first parameter,
      <code>observerOrNextForOrigin?: Partial&lt;TapObserver&lt;T&gt;&gt; | ((value: T) => void)</code>, has the same
      type signature as RxJS <code>tap</code>, allowing you to pass callbacks for success and error scenarios. The
      second optional <code>initialValue</code> parameter specifies the initial state of the asynchronous operation.
      The default initial value is <code>&#123; loading: true, error: null, data: null &#125;</code>, meaning the
      observable starts in a loading state.
    </p>

    <app-code-block [code]="callbackCode" />

    <p>
      By using this operator, you can easily manage and respond to these different states in your application. The
      resulting observable emits
      <code>AsyncState</code> objects, allowing you to handle loading spinners, display error messages, and render
      content based on the received data.
    </p>
  </section>

  <app-code-block [code]="exampleCode" />
  <app-user-card-list />

  <h2>Providing initialValue</h2>
  <p>
    Consider a scenario where a users table contains comprehensive user information. When clicking on a specific user,
    navigation occurs to the user detail page with user information passed as route state. On the detail page, you can
    initially display the data obtained from the route state, then initiate an API call to fetch the latest information.
    Once the API call completes successfully, the user information can be refreshed without displaying a loading
    spinner. You can configure the initial value as follows:
    <code>&#123;loading: false, error: null, data: this.location.getState()&#125;</code>. This configuration enables
    smooth presentation of user details and seamless updates when new data is fetched from the API, enhancing the user
    experience on the detail page.
  </p>
  <app-code-block [code]="exampleWithoutLoadingCode" />
</cll-page-container>
