<cll-page-container [title]="'Certificate Signpost (Viewer)'" customClass="space-y-9">
  <!-- Overview -->
  <p>
    The <code>CertificateSignpostComponent</code>, an Angular component, elegantly interprets a PEM string, showcasing
    the certificate's content with a click on the certificate icon. Seamlessly integrated with the Clarity Design
    System, this component boasts functionalities to exhibit crucial details such as the certificate's status, validity
    period, issuer information, and hash values.
  </p>
  <cll-callout>
    PEM stands for Privacy Enhanced Mail. It's a file format that is often used to store cryptographic keys,
    certificates, and other secure data. PEM files typically have extensions like .pem, .crt, .cer, and .key. The data
    within a PEM file is usually encoded using Base64 encoding, which is a method of converting binary data into ASCII
    characters.
  </cll-callout>

  <!-- Examples Section -->
  <section class="space-y-4">
    <h2>Examples</h2>

    <article class="space-y-3">
      <h3>Example 1: Parsing Raw PEM</h3>
      <p>Parse and display a raw PEM certificate string:</p>
      <app-code-block [code]="pem1Code" lang="typescript" />
      <p>Click the certificate icon below to view the certificate details:</p>
      <div>Click the certificate icon: <cll-certificate-signpost [pem]="pem1" /></div>
    </article>

    <article class="space-y-3">
      <h3>Example 2: Parsing PEM (Base64 Encoded)</h3>
      <p>
        At times, a PEM string is initially encoded in Base64 before being stored. In such scenarios, you can utilize
        the
        <code>pemEncoded</code> flag to signify that the PEM string requires decoding before parsing. Here's an example
        of a string that has been Base64 encoded using <code>btoa(firstExamplePemString)</code>:
      </p>
      <app-code-block [code]="pem2Code" lang="typescript" />
      <p>Click the certificate icon below to view the certificate details:</p>
      <div>
        Click the certificate icon:
        <cll-certificate-signpost [pem]="pem2" [pemEncoded]="true" position="right-top" />
      </div>
    </article>
  </section>

  <!-- API Reference -->
  <section class="space-y-4">
    <h2>API Reference</h2>
    <div class="space-y-4">
      <div class="space-y-3">
        <h3>CertificateSignpostComponent</h3>
        <p>Component for displaying certificate information in a Clarity signpost.</p>

        <h4>Inputs</h4>
        <ul class="list-disc space-y-2 ml-6">
          <li class="space-y-1">
            <code>pem: string</code>
            <div class="ml-4">
              <p class="text-sm !mt-1">
                <em>(Required)</em> A string containing the PEM-encoded certificate. Can be raw PEM or Base64-encoded
                (when <code>pemEncoded</code> is true).
              </p>
            </div>
          </li>
          <li class="space-y-1">
            <code>pemEncoded?: boolean</code>
            <div class="ml-4">
              <p class="text-sm !mt-1">
                A boolean flag indicating whether the PEM string is Base64-encoded or not. Defaults to
                <code>false</code>. When <code>true</code>, the component will decode the string before parsing.
              </p>
            </div>
          </li>
          <li class="space-y-1">
            <code>position?: string</code>
            <div class="ml-4">
              <p class="text-sm !mt-1">
                Determines the positioning of the signpost content. The default is set to 'right-middle'. Available
                positions include: 'top-left', 'top-middle', 'top-right', 'right-top', 'right-middle', 'right-bottom',
                'bottom-right', 'bottom-middle', 'bottom-left', 'left-bottom', 'left-middle', and 'left-top'.
              </p>
            </div>
          </li>
          <li class="space-y-1">
            <code>showIcon?: boolean</code>
            <div class="ml-4">
              <p class="text-sm !mt-1">
                A boolean value to manage the visibility of the certificate status icon. Defaults to <code>true</code>.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
</cll-page-container>
