<cll-page-container [title]="'ifValidator & ifAsyncValidator'" customClass="space-y-9">
  <!-- Overview -->
  <p>
    ngx-lift provides utility functions for creating conditional validators in Angular Reactive Forms. Conditional
    validators allow you to apply specified validator functions based on a given condition. There are two main functions
    exported: <code>ifValidator</code> for synchronous validators and <code>ifAsyncValidator</code> for asynchronous
    validators.
  </p>

  <!-- Examples Section -->
  <section class="space-y-4">
    <h2>Examples</h2>

    <article class="space-y-3">
      <h3>Example 1: Conditional Required Validator</h3>
      <p>
        Require a reason input and an email input only when the "Sorry" option is selected. The required validator is
        applied to the text input control only when the "Sorry" option is chosen.
      </p>
      <form clrForm [formGroup]="form">
        <clr-radio-container>
          <label for="if-choice">Do you like this tool?</label>
          <clr-radio-wrapper>
            <input
              type="radio"
              id="if-choice-like"
              clrRadio
              name="choice"
              value="LIKE"
              [formControl]="form.controls.choice"
              (change)="changeChoice()"
            />
            <label for="if-choice-like">Of course 😜</label>
          </clr-radio-wrapper>
          <clr-radio-wrapper>
            <input
              type="radio"
              id="if-choice-unlike"
              clrRadio
              name="choice"
              value="UNLIKE"
              [formControl]="form.controls.choice"
              (change)="changeChoice()"
            />
            <label for="if-choice-unlike">Sorry 😅</label>
          </clr-radio-wrapper>
          <clr-control-error *clrIfError="'required'">Required</clr-control-error>
        </clr-radio-container>

        <clr-input-container>
          <label for="if-email">Email</label>
          <input id="if-email" clrInput type="text" [formControl]="form.controls.email" size="30" />
          <clr-control-helper>Field required only when you choose Sorry</clr-control-helper>
          <clr-control-error *clrIfError="'required'">Required</clr-control-error>
          <clr-control-error *clrIfError="'email'">Invalid email</clr-control-error>
        </clr-input-container>

        <clr-input-container>
          <label for="if-reason">Reason why you don't like</label>
          <input id="if-reason" clrInput type="text" [formControl]="form.controls.reason" size="30" />
          <clr-control-helper>Field required only when you choose Sorry</clr-control-helper>
          <clr-control-error *clrIfError="'required'">Required</clr-control-error>
        </clr-input-container>

        <button type="submit" class="btn-primary btn" [disabled]="form.invalid">Submit</button>
      </form>
      <app-code-block [code]="ifValidatorCode" lang="typescript" />
      <cll-callout>
        Invoke the <code>updateValueAndValidity()</code> method on the associated control whenever there is a change in
        the specified condition for either <code>ifValidator</code> or <code>ifAsyncValidator</code>.
      </cll-callout>
    </article>

    <article class="space-y-3">
      <h3>Example 2: ifAsyncValidator</h3>
      <p>
        <code>ifAsyncValidator</code> shares similarities with <code>ifValidator</code> but differs in that it accepts
        two parameters: the condition and an AsyncValidation function, designed specifically for handling asynchronous
        operations.
      </p>
      <app-code-block [code]="ifAsyncValidatorCode" lang="typescript" />
    </article>
  </section>

  <!-- API Reference -->
  <section class="space-y-4">
    <h2>API Reference</h2>
    <div class="space-y-4">
      <div class="space-y-3">
        <h3>ifValidator</h3>
        <p>Creates a conditional validator that applies validator functions based on a condition.</p>

        <h4>Signature</h4>
        <app-code-block [code]="ifValidatorSignatureCode" lang="typescript" />

        <h4>Parameters</h4>
        <ul class="list-disc space-y-2 ml-6">
          <li class="space-y-1">
            <code>condition: () => boolean</code>
            <div class="ml-4">
              <p class="text-sm !mt-1">
                A function that determines whether the validators should be applied. Returns <code>true</code> to apply
                <code>trueValidatorFn</code>, <code>false</code> to apply <code>falseValidatorFn</code> (if provided).
              </p>
            </div>
          </li>
          <li class="space-y-1">
            <code>trueValidatorFn: ValidatorFn | ValidatorFn[]</code>
            <div class="ml-4">
              <p class="text-sm !mt-1">
                The validator function or array of validator functions to be applied when the condition is
                <code>true</code>.
              </p>
            </div>
          </li>
          <li class="space-y-1">
            <code>falseValidatorFn?: ValidatorFn | ValidatorFn[]</code>
            <div class="ml-4">
              <p class="text-sm !mt-1">
                <em>(Optional)</em> The validator function or array of validator functions to be applied when the
                condition is <code>false</code>.
              </p>
            </div>
          </li>
        </ul>

        <h4>Returns</h4>
        <p class="text-sm">A validator function that can be used with Angular Reactive Forms.</p>
      </div>

      <div class="space-y-3">
        <h3>ifAsyncValidator</h3>
        <p>Creates a conditional async validator that applies async validator functions based on a condition.</p>

        <h4>Signature</h4>
        <app-code-block [code]="ifAsyncValidatorSignatureCode" lang="typescript" />

        <h4>Parameters</h4>
        <ul class="list-disc space-y-2 ml-6">
          <li class="space-y-1">
            <code>condition: () => boolean</code>
            <div class="ml-4">
              <p class="text-sm !mt-1">A function that determines whether the async validator should be applied.</p>
            </div>
          </li>
          <li class="space-y-1">
            <code>asyncValidatorFn: AsyncValidatorFn</code>
            <div class="ml-4">
              <p class="text-sm !mt-1">
                The async validator function to be applied when the condition is <code>true</code>.
              </p>
            </div>
          </li>
        </ul>

        <h4>Returns</h4>
        <p class="text-sm">An async validator function that can be used with Angular Reactive Forms.</p>
      </div>
    </div>
  </section>
</cll-page-container>
